<p id="notice"><%= notice %></p>

<p>
  <b>Code:</b>
  <%= @carrier.code %>
</p>

<p>
  <b>Name:</b>
  <%= @carrier.name %>
</p>

<p>
  <b>Active:</b>
  <%= @carrier.active %>
</p>


<%= link_to 'Edit', edit_carrier_path(@carrier) %> |
<%= link_to 'Back', carriers_path %>
