<p id="notice"><%= notice %></p>

<p>
  <b>Code:</b>
  <%= @carrier.code %>
</p>

<p>
  <b>Name:</b>
  <%= @carrier.name %>
</p>

<p>
  <b>Active:</b>
  <%= @carrier.active %>
</p>

<div class="nav">
<p>
	<b>TASKS:</b>
	<%= link_to 'Edit Carrier', edit_carrier_path(@carrier) %>
</p>

<p>
	<b>VIEWS:</b>
	<%= link_to 'Carrier List', carriers_path %>
</p>
</div>
