<p id="notice"><%= notice %></p>

<p>
  <b><%= @client.name %></b>
  <br />
  <%= @client.address_1 %>
  <br />
  <% unless @client.address_2.empty? %>
  <%= @client.address_2 %><br />
  <% end %>

  <%= @client.city %>  <%= @client.state %>  <%= @client.postal_code %>


<p>
  <b>Active Contacts:</b>
  <% @contacts.current.each do |contact| %>
    <%= link_to contact.full_name, client_contact_path(@client, contact) %>
  <% end %>
</p>

<p>
<<<<<<< HEAD
  <b>Valid LOAs:</b>
  <% @loas.valid.each do |loa| %>
    <%= link_to loa.carrier_code, client_loa_path(@client, loa) %>
  <% end %>
</p>

<p>
  <b>Expired LOAs:</b>
  <% @loas.expired.each do |loa| %>
  <%= link_to loa.carrier_code, client_loa_path(@client, loa) %>
=======
  <b>Postal Code:</b>
  <%= @client.postal_code %>
</p>

<p>
  <b>Active Contacts:</b>
  <% @contacts.current.each do |contact| %>
    <%= link_to contact.full_name, client_contact_path(@client, contact) %>
>>>>>>> b3fa5412edfd06d2797ae56d8f92e731db3bfdef
  <% end %>
</p>

<p>
  <b>VIEWS</b>
  <%= link_to 'LOA List', client_loas_path(@client) %> |
  <%= link_to 'Contact List', client_contacts_path(@client) %> |
  <%= link_to 'Client List', clients_path %>
</p>

<<<<<<< HEAD
=======

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Destroy', @client, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Client List', clients_path %> |
<%= link_to 'Contact List', client_contacts_path(@client) %> |
<%= link_to 'LOA List', client_loas_path(@client) %>

>>>>>>> b3fa5412edfd06d2797ae56d8f92e731db3bfdef
<p>
  <b>TASKS:</b>
  <%= link_to '[Edit Client]', edit_client_path(@client) %>
  <%= link_to '[New Contact]', new_client_contact_path(@client) %>  
  <%= link_to '[New LOA]', new_client_loa_path(@client) %>
</p>
