<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @client.name %>
</p>

<p>
  <b>Address 1:</b>
  <%= @client.address_1 %>
</p>

<p>
  <b>Address 2:</b>
  <%= @client.address_2 %>
</p>

<p>
  <b>City:</b>
  <%= @client.city %>
</p>

<p>
  <b>State:</b>
  <%= @client.state %>
</p>

<p>
  <b>Postal Code:</b>
  <%= @client.postal_code %>
</p>

<p>
  <b>Active Contacts:</b>
  <% @contacts.current.each do |contact| %>
    <%= link_to contact.full_name, client_contact_path(@client, contact) %>
  <% end %>
</p>

<p>
  <b>LOAs:</b>
  <% @loas.each do |loa| %>
    <%= link_to loa.carrier_id, client_loa_path(@client, loa) %>
  <% end %>
</p>


<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Destroy', @client, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Client List', clients_path %> |
<%= link_to 'Contact List', client_contacts_path(@client) %> |
<%= link_to 'LOA List', client_loas_path(@client) %>

<p>
  <b>TASKS:</b>
  <%= link_to '[New Contact]', new_client_contact_path(@client) %>  
  <%= link_to '[New LOA]', new_client_loa_path(@client) %>
</p>
