<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @contact.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @contact.last_name %>
</p>

<p>
  <b>Email:</b>
  <%= @contact.email %>
</p>

<p>
  <b>Client:</b>
  <%= @client.name %>
</p>

<p>
  <b>Active:</b>
  <%= @client.active %>
</p>

<div class="nav">
</p>
  <b>TASKS:</b>
  <%= link_to '[Edit]', edit_client_contact_path(@client, @contact) %>
</p>

<p>
  <b>VIEWS:</b>
  <%= link_to 'Contact List', client_contacts_path %> |
  <%= link_to 'Client List', clients_path %> |
  <%= link_to 'Client Details', client_path(@client) %>
</p>
</div>
