<%= form_for([@client, @loa]) do |f| %>
  <% if @loa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@loa.errors.count, "error") %> prohibited this loa from being saved:</h2>

      <ul>
      <% @loa.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :client_id %><br />
    <%= select_tag(:client_id, options_for_select([[@client.name, @client.id]]) ) %>
  </div>
  <div class="field">
    <%= f.label "Carrier" %><br />
    <%= select(:loa, :carrier_code, Carrier.all.collect {|c| [c.name, c.code]}, {:prompt => true}) %>
  </div>
  <div class="field">
    <%= f.label :effective_date %><br />
    <%= f.date_select :effective_date %>
  </div>
  <div class="field">
    <%= f.label :expiration_date %><br />
    <%= f.date_select :expiration_date %>
  </div>
  <div>
    <%= f.label "PDF" %><br />
    <%= f.file_field :pdf %>
  </div>
  <div><br />
    <%= f.label :active %>
    <%= f.check_box :active %>
  </div>
  <div>
    <%= f.label :agent %>
    <%= f.check_box :agent %>
    <br />
    <%= f.label :internet_tracing %>
    <%= f.check_box :internet_tracing %>
    <br />
    <%= f.label :voice_tracing %>
    <%= f.check_box :voice_tracing %>
    <br />
    <%= f.label :customer_support %>
    <%= f.check_box :customer_support %>
    <br />
  </div>
  <br />
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
