<h1><%= "Listing LOAs for: #{@client.name}" %></h1>

<table>
  <tr>
    <!--<th>Client</th>-->
    <th>Carrier</th>
    <th>Effective Date</th>
    <th>Expiration Date</th>
    <!--<th>Active</th>-->
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @loas.each do |loa| %>
  <tr <% if loa.active == false %>class="inactive"<% elsif loa.expiration_date < Date.today %>class="expired"<% end %>>
    <!--<td><%= @client.name %></td>-->
    <td><%= loa.carrier_code %></td>
    <td><%= loa.effective_date %></td>
    <td><%= loa.expiration_date %></td>
    <!--<td><%= loa.active %></td>-->
    <td><%= link_to 'Show', [@client, loa] %></td>
    <td><%= link_to 'Edit', edit_client_loa_path(@client, loa) %></td>
    <td><%= link_to 'Destroy', [@client, loa], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<div class="nav">
<p>
  <b>TASKS:</b>
  <%= link_to '[New Loa]', new_client_loa_path %>
</p>

<p>
    <b>NAV:</b>
    <%= link_to 'Client Detail', client_path(@client) %> |
    <%= link_to 'Client List', clients_path %>
</p>
</div>
