<p id="notice"><%= notice %></p>

<p>
  <b>Company:</b>
  <%= @client.name %>
</p>

<p>
  <b>Carrier:</b>
  <%= @loa.carrier_code %>
</p>

<p>
  <b>Effective date:</b>
  <%= @loa.effective_date %>
</p>

<p>
  <b>Expiration date:</b>
  <%= @loa.expiration_date %>
</p>

<p>
  <b>Active:</b>
  <%= @loa.active %>
</p>


<%= link_to 'Edit', edit_client_loa_path(@client, @loa) %> |
<%= link_to 'Destroy', [@client, @loa], method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'LOA List', client_loas_path %>

