<p id="notice"><%= notice %></p>

<p>
  <b>Client:</b>
  <%= @client.name %>
</p>

<p>
  <b>Carrier:</b>
  <%= @loa.carrier_code %>
</p>

<p>
  <b>Effective Date:</b>
  <%= @loa.effective_date %>
</p>

<p class=<% if (@loa.active? && @loa.expiration_date < Date.today) %>"expired_date"<% end %>>
  <b>Expiration Date:</b>
  <%= @loa.expiration_date %>
</p>

<p>
  <b>Active:</b>
  <input type="checkbox" disabled="true"<% unless @loa.active == false %> checked="true" <% end %>> |
  <b>RMI Included:</b>
  <input type="checkbox" disabled="true"<% unless @loa.include_rmi == false %> checked="true" <% end %>>
</p>

<p>
  <b>PDF:</b>
  <%= link_to @loa.pdf_filename, @loa.pdf_url.to_s %>
</p>

<table>
  <tr>
    <th>Agency</th>
    <th>Operations</th>
  </tr>
  <tr>
    <td class="loa_details">
      <input type="checkbox" disabled="true"<% unless @loa.agent == false %> checked="true" <% end %>> Agent<br />
      <input type="checkbox" disabled="true"<% unless @loa.internet_tracing == false %> checked="true" <% end %>> Internet Tracing<br />
      <input type="checkbox" disabled="true"<% unless @loa.voice_tracing == false %> checked="true" <% end %>> Voice Tracing<br />
      <input type="checkbox" disabled="true"<% unless @loa.customer_support == false %> checked="true" <% end %>> Customer Support<br />
      <input type="checkbox" disabled="true"<% unless @loa.price_lookup == false %> checked="true" <% end %>> Price Lookup<br />
      <input type="checkbox" disabled="true"<% unless @loa.customer_contract == false %> checked="true" <% end %>> Customer Contracts<br />
      <input type="checkbox" disabled="true"<% unless @loa.rate_negotiation == false %> checked="true" <% end %>> Rate Negotiations<br />
    </td>
    <td class="loa_details">
      <input type="checkbox" disabled="true"<% unless @loa.bol_web == false %> checked="true" <% end %>> Bills of Lading (Web)<br />
      <input type="checkbox" disabled="true"<% unless @loa.bol_edi == false %> checked="true" <% end %>> Bills of Lading (EDI)<br />
      <input type="checkbox" disabled="true"<% unless @loa.diversion == false %> checked="true" <% end %>> Diversions<br />
      <input type="checkbox" disabled="true"<% unless @loa.switch_release == false %> checked="true" <% end %>> Switches and Releases<br />
      <input type="checkbox" disabled="true"<% unless @loa.equipment_order == false %> checked="true" <% end %>> Equipment Orders<br />
    </td>
  </tr>
  <tr>
    <th>Tracking</th>
    <th>Invoices</th>
  </tr>
  <tr>
    <td class="loa_details">
      <input type="checkbox" disabled="true"<% unless @loa.customer_417 == false %> checked="true" <% end %>> Customer 417s<br />
      <input type="checkbox" disabled="true"<% unless @loa.error_824 == false %> checked="true" <% end %>> 824 Errors<br />
      <input type="checkbox" disabled="true"<% unless @loa.ack_997 == false %> checked="true" <% end %>> 997 Acknowledgements<br />
      <input type="checkbox" disabled="true"<% unless @loa.cancel_998 == false %> checked="true" <% end %>> 998 Cancellations<br />
      <input type="checkbox" disabled="true"<% unless @loa.clm == false %> checked="true" <% end %>> CLMs<br />
      <input type="checkbox" disabled="true"<% unless @loa.interchange_receipt == false %> checked="true" <% end %>> Interchange Reciept (J-1)<br />
    </td>
    <td class="loa_details">
      <input type="checkbox" disabled="true"<% unless @loa.view_freight_inv == false %> checked="true" <% end %>> View Freight Invoices<br />
      <input type="checkbox" disabled="true"<% unless @loa.pay_freight_inv == false %> checked="true" <% end %>> Pay Freight Invoices<br />
      <input type="checkbox" disabled="true"<% unless @loa.dispute_freight_inv == false %> checked="true" <% end %>> Dispute Freight Invoices<br />
      <input type="checkbox" disabled="true"<% unless @loa.view_incidental_inv == false %> checked="true" <% end %>> View Incidental Invoices<br />
      <input type="checkbox" disabled="true"<% unless @loa.pay_incidental_inv == false %> checked="true" <% end %>> Pay Incidental Invoices<br />
      <input type="checkbox" disabled="true"<% unless @loa.dispute_incidental_inv == false %> checked="true" <% end %>> Dispute Incidental Invoices<br/>
    </td>
  </tr>
</table>

<br />

<div class="nav">
<p>
  <b>TASKS:</b>
  <%= link_to '[Edit]', edit_client_loa_path(@client, @loa) %>
  <%= link_to '[Destroy]', [@client, @loa], method: :delete, data: { confirm: 'Are you sure?' } %>
</p>

<p>
  <b>NAV:</b>
  <%= link_to 'LOA List', client_loas_path %> |
  <%= link_to 'Client Detail', client_path(@client) %>
</p>
</div>
